.file_loader {cursor:pointer;text-align: center;border: 1px dashed #ccc;border-radius: 6px;padding: 6px 12px;transition: .3s all;}
.file_loader:hover {color: #000;background-color: #fff;}
#filemessage {display: none;}
.file_loader img {max-width: 180px;max-height: 810px;}